ul {
  display: flex;
  overflow-x: scroll;
  list-style: none;
}


li{
  flex-direction: column;
  display: flex;
  height: 370px;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  text-align: center;
    font-weight: 600;
    position: relative;
}


img {
  width: 200px;
  height: 300px;
  border-radius: 16px;
}

i{
  position: absolute;
    color: white;
    font-size: 20px;
    top: 10px;
    left: 20px;
}